@using YazılımSınamaProje.Models
@model List<Project>

@{
    ViewData["Title"] = "ProjectList";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Proje Listeleme</h1>

@{
    var successMessage = TempData["SuccessMessage"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">
        @successMessage
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

@using (Html.BeginForm("ProjectSearch", "Project", FormMethod.Get))
{
    <p>
        Aranacak İş İlanı : @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}

<br />

@foreach (var item in Model)
{
    <div class="card">
        <div class="card-header text-right">
            <button type="submit" class="btn-lg btn-primary m-2" data-toggle="modal" data-target="#exampleModal-@item.projectID">Teklif</button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal-@item.projectID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Teklif Ver</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <form method="post" action="@Url.Action("GiveOffer", "Offer")">
                                <label for="teklifMiktari" >Teklif Miktarı:</label>
                                <input type="number" name="teklifMiktari" class="form-control" required />
                                <input type="hidden" name="projectId" value="@item.projectID" /> <br>
                                <button type="submit" class="btn btn-primary">Teklif Ver</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @item.projectBudget
        </div>
        <div class="card-body">
            <h4 class="card-title">@item.projectTitle</h4>
            <p class="card-text">@item.projectDescription</p>
            <p class="card-text">İş süresi :@item.projectTime</p>
            <p class="card-text">@item.projectLanguage | Projeyi ekleyen kisi: @item.User.firstName @item.User.lastName </p>
        </div>
    </div>
    <br />
}

