@using YazılımSınamaProje.Models
@model List<Project>

@{
    ViewData["Title"] = "ProjectSearch";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using (Html.BeginForm("ProjectSearch", "Project", FormMethod.Get))
{
    <p>
        Aranacak İş İlanı : @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}

<br />

@foreach (var item in Model)
{
    <div class="card">
        <div class="card-header text-right">
            <a href="/Offer/TeklifVer" class="btn-lg btn-primary m-2">Teklif</a> @item.ProjectBudget
        </div>
        <div class="card-body">
            <h4 class="card-title">@item.ProjectTitle</h4>
            <p class="card-text">@item.ProjectDescription</p>
            <p class="card-text">İş süresi: @item.ProjectTime</p>
            <p class="card-text">@item.ProjectLanguage | Projeyi ekleyen kişi: @item.User.FirstName @item.User.LastName</p>
        </div>
    </div>
}
