@using YazılımSınamaProje.Models
@model List<Work>

@{
    ViewData["Title"] = "JobDeliveryList";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Tamamlanan İşler</h1>

@foreach (var item in Model)
{
    <div class="card">
        <div class="card-header text-right">
            <h3>@item.NewBudget $</h3>
        </div>
        <div class="card-body">
            <h4 class="card-title">@item.Project.ProjectTitle</h4>
            <p class="card-text">@item.Explanation</p>
            <form method="post" action="@Url.Action("ApprovedJob", "Work")">
                <input type="hidden" name="workId" value="@item.WorkID" />
                <button type="submit" class="btn btn-primary">İşi Onayla</button>
            </form>
        </div>
    </div>
}
<br />
